.patients-container {
  margin: 6rem auto 1.8rem auto;
  padding: 1rem 2rem 2rem 2rem;
  width: 70vw;
  background: linear-gradient(90deg, #1b3650, #7e9cba);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;

}

.patients-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.patients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.patient-card {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.patient-card p {
  margin: 0.5rem 0;
  width: 300px;
}

.details-button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #656565;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-button:hover {
  background-color: #8f7d75;
  transform: translateY(-3px);
}

.no-patients {
  font-size: 1.2rem;
  font-weight: bold;
  color: #8f7d75;
}

.loading {
  font-size: 1.5rem;
  color: white;
}

.highlighted-name {
  color: #d7b9ac;
  font-weight: bold;
}
