:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #1b3650, #7e9cba);
  color: white;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: 0 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
}

.navbar a:last-child {
  border-right: none;
}

.navbar a:hover {
  color: #d7b9ac;
}

.content {
  /* max-width: 600px; */
  width: 100%;
  /* margin-top: 150px; */
  margin: 100px auto;
}

.main-container {
  width: 90vw;
  height: 80vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #d7b9ac;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8f7d75;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #d7b9ac;
  transform: translateY(-3px);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #8f7d75;
  }
  button {
    background-color: #f9f9f9;
    color: #213547;
  }
}
